@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Nunito';
}


@layer components {
  .sectionTitle {
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      padding-bottom: 21px;
  }

  .sect {
    padding: 60px 0;
  }
  .input {
    @apply w-full bg-transparent border border-white text-white 
    placeholder:text-white not-italic placeholder:not-italic
  }

  .formControl {
    @apply mb-10
  }

  .button {
    @apply text-base rounded-full px-4 py-1 hover:bg-[#FFE302] transition-all duration-200 ease-out 
    disabled:bg-gray-200 disabled:opacity-50
  }
}

